<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area">
    <!-- Breadcumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li style="margin-left:10px;"><strong>شما اینجا هستید:</strong> </li>

            <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
            <li class="breadcrumb-item active" aria-current="page">درباره ما</li>
        </ol>
    </nav>
</div>


<!-- ##### Instructors Video Start ##### -->
<div class="instructors-video d-flex align-items-center justify-content-center bg-img"
    style="background-image: url(img/bg-img/bg4.jpg);">
    <h2>درباره ما</h2>
    <!-- video btn -->
    <a href="https://www.youtube.com/watch?v=qC_T9ePzANg" class="video-btn"><i class="fa fa-play"
            aria-hidden="true"></i></a>
</div>
<!-- ##### Instructors Video End ##### -->

<!-- ##### Breadcumb Area End ##### -->
<div class="regular-page-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-content">


                    <h1>صفحه درباره ما</h1>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه
                        روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                        متنوع با هدف
                        بهبود
                        ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و
                        متخصصان را می
                        طلبد
                        تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در
                        زبان فارسی
                        ایجاد
                        کرد.</p>
                </div>
            </div>
        </div>
    </div>>
</div>